#container3D canvas {
    width: 85vw !important;
    height: 85vh !important;
    top: 0;
    left: 0;
    margin-top: -435px;
  }

#sword3D canvas {
    width: 85vw !important;
    height: 100vh !important;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: -200px;
}